<p>CSS Fingerprint is a research project inspired by the EFF's <a href="http://panopticlick.com">Panopticlick</a>.</p>

<p>Its intent is to see how well the <a href="http://ha.ckers.org/weird/CSS-history-hack.html">CSS history hack</a> can be used with AI techniques (like an SVM) to uniquely fingerprint users
despite changes in their browsing history, even on new computers or new browsers.</p>

<p>At the moment, the AI component is not yet active. In order to write it, I need data.</p>

<p>To help out, please visit this site from multiple different browsers / computers that you own, using the same input each time.</p>

<p>This will take 30 seconds, and end in a status message saying it's done.</p>

<p>Thanks!</p>

<p>- <A href="http://saizai.com">Sai Emrys</A></p>

<div style="margin:1em;">
	<% form_remote_tag(:url => scrapings_url(:start_time => Time.now), :method => :post,
							:loading => update_page {|page| page['status'].replace_html "Sending first batch..." }) do %>
		<p>Enter something unique to you (not a password): <%= text_field_tag :cookie, cookies[:remember_token] %>
		<%= submit_tag "Fingerprint me" %></p>
		<p>Please change this to be something you can remember, so you can enter it again from a different browser/computer.</p><br/>
		<p>What should happen is that when you hit the submit button, you'll see "Testing sites 1 through 201...", increasing rapidly 200 at a time.<br/>
			If you get <1000 URLs scraped, or it otherwise behaves oddly, please reload and resubmit. If that doesn't fix it, please IM me ASAP (AIM saizai) so I can debug it. Thanks!</p>
	<% end %>
	
	<div id="status" style="color: red">Not yet started...</div>
</div>

<small>
	<p>For my fellow geeks:</p>
	
	<p>What I store is the cookie value you submit and, for each of the top ~2-14k Alexa sites (depending on your CPU and internet speed), whether or not you have visited that site.</p>
	
	<p>I make no attempt to find out who you are personally, and I don't store your IP; the point of this is simply to tell whether I can automatically identify when you visit again with a different browser.</p>
	
	<p>The data will not be shared with anyone except other EFF-friendly researchers who agree to keep it confidential.</p>
	
	<p>The source code is available at <A href="http://github.com/saizai/cssfingerprint">github</A>. Commits welcome.</p>
	
	<p>How it works:
		<ol>
			<li>scrape Alexa's 1M top sites list once per day, insert in db</li>
			<li>when form is submitted, find/create a user for the cookie, execute the result</li>
			<li>form result is code to test a given batch and fetch the next one</li>
			<li>server cuts off client after 30 seconds, processes all the data in the background to speed things up</li>
		</ol>
	</p>
	
	<p>Please do not slashdot this just yet, as it's not ready for the traffic.</p>
</small>