.DS_Store
log/*.log
log/*.pid
log/*.output
tmp/**/*
config/database.yml
db/*.sqlite3
db/*.db
db/schema.rb
config/initializers/*_keys.rb
.tmp*
public/files/
public/javascripts/all*.js
public/stylesheets/all*.css
config/mail.yml
db/top-1m.csv*
tmp/*
*.lock

