.DS_Store
log/*.log
log/*.pid
log/*.output
tmp/**/*
config/database.yml
db/*.sqlite3
db/*.db
db/schema.rb
db/*.sql
db/*.csv
db/*.gz
db/*.zip
config/initializers/*_keys.rb
config/initializers/session_store.rb
.tmp*
public/files/
public/javascripts/all*.js
public/stylesheets/all*.css
config/mail.yml
tmp/*
*.lock

db/ai/
db/Quantcast*
wtikay*
